/* SINGLE */

.single-banner {
    display: flex;
    align-items: end;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;

    & > div {
        padding: 8rem clamp(2rem, 1.4848vw + 1.4581rem, 4rem);
        padding-right: max(8rem, 10vw);
    }

    img {
        min-width: min(40vw, 68.4rem);
        height: 100%;
        object-fit: cover;
    }

    .title {
        margin: 2rem auto;
        font-size: 4rem;
        letter-spacing: -0.02em;
        line-height: 1.2;
    }

    p {
        margin: 2rem auto;
        font-size: 2rem;
        line-height: 1.5;
    }

    @media screen and (max-width: 800px) {
        flex-wrap: wrap-reverse;
    }

    @media screen and (min-width: 801px) {
        height: 100vw;
        max-height: 70.4rem;
    }
}

.single-content {
    box-sizing: content-box;
    margin-bottom: 12rem;
    margin-inline: auto;
    padding: 12rem var(--p-inline);
    max-width: 66.2rem;
    border-bottom: 1px solid #777777;

    img {
        margin-inline: -2rem;
        width: calc(100% + 4rem);
    }
}
