@use "reset";

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

$Black: #000;
$BlackStallion: #101820;
$SoftPumice: rgba(148, 157, 165, 0.08);
$SpaceWolvesGrey: #D9E5F2;
$White: #fff;
$CommonFeldspar: #848C95;


$ClearChill: #208FFF;
$VividBlue: #203EFF;

:root {
    --color-background: #{$BlackStallion};
    --color-box: #{$SoftPumice};
    --color-primary: #{$ClearChill};
    --color-primary-darker: #{$VividBlue};
    --color-text: #{$SpaceWolvesGrey};
    --color-white: #{$White};
    --color-black: #{$Black};

    --font-title: "Inter", sans-serif;
    --font-body: "Inter", sans-serif;
}

* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    min-height: 100vh;
    font-family: var(--font-body);
    font-size: 1.6rem;
    line-height: 1.4;
    background: var(--color-background);
}

/* LOGIN */

.login {
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-form {
    padding: clamp(3rem, 2.2272vw + 2.1871rem, 6rem) clamp(2rem, 2.9696vw + .9161rem, 6rem);
    width: 90vw;
    max-width: 52rem;
    text-align: center;
    color: var(--color-white);
    background: var(--color-box);
    border-radius: .8rem;

    [type="submit"] {
        display: block;
        margin: 3.2rem auto 2rem;
        padding: 1.4rem 2rem 1.2rem;
        width: 100%;
        font-weight: 600;
        font-size: 1.2rem;
        color: var(--color-text);
        background: var(--color-primary-darker);
        border: none;
        border-radius: .4rem;
    }

    form {
        margin-top: 4rem;
        margin-bottom: 3.2rem;

        & > div {
            margin: 2rem auto;
        }

        label {
            display: block;
            margin-bottom: .8rem;
            margin-left: 2.4rem;
            text-align: left;
        }

        input {
            padding: 1.4rem 2.4rem 1.2rem;
            width: 100%;
            background: var(--color-background);
            border: none;
            border-radius: .4rem;
        }
    }

    h1 {
        margin-bottom: .75em;
        font-family: var(--font-title);
        font-weight: 600;
        font-size: 3.2rem;
        color: var(--color-text);
    }

    a {
        color: var(--color-white);
    }

    p {
        color: var(--color-text);
        font-weight: 300;

        a {
            color: var(--color-primary);
            font-weight: 400;
            text-wrap: nowrap;
        }
    }
}

/* EDIT */

.edit {
    background-color: var(--color-white);

    .container {
        padding: 4rem;
        background-color: var(--color-white);
    }
}

label {
    display: block;
    margin-bottom: 1.2rem;
    font-family: var(--font-body);
    font-size: 1.2rem;
    color: $CommonFeldspar;
}

input {
    padding: 1.2rem 2rem;
    width: 100%;
    max-width: 50rem;
    font-family: var(--font-body);
    font-size: 1.6rem;
    color: var(--color-black);
    border: 1px solid #D9D9D9;
    border-radius: 2px;
}

::placeholder {
    color: var(--color-text);
}
