@use "reset";

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
    --text-body: "Inter", sans-serif;
}

* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: var(--text-body);
    font-size: 1.6rem;
}

/* SINGLE */

.single-banner {
    display: flex;
    align-items: end;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;

    & > div {
        padding: 8rem clamp(2rem, 1.4848vw + 1.4581rem, 4rem);
        padding-right: max(8rem, 10vw);
    }

    img {
        min-width: min(40vw, 68.4rem);
        height: 100%;
        object-fit: cover;
    }

    .title {
        margin: 2rem auto;
        font-size: 4rem;
        letter-spacing: -0.02em;
        line-height: 1.2;
    }

    p {
        margin: 2rem auto;
        font-size: 2rem;
        line-height: 1.5;
    }

    @media screen and (max-width: 800px) {
        flex-wrap: wrap-reverse;
    }

    @media screen and (min-width: 801px) {
        height: 100vw;
        max-height: 70.4rem;
    }
}

/* HOME */

.home {
    padding-inline: 4rem;

    section > .title {
        font-family: var(--text-body);
        font-size: 3.2rem;
        line-height: 1.2;
        letter-spacing: -0.064rem;
    }
}

.hero {}

.posts-latest {
    display: grid;
    gap: 4rem;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(3, auto);
    grid-template-areas:
        "featured ."
        "featured ."
        "featured ."
    ;

    .card:first-child {
        grid-area: featured;
    }

    .card:not(:first-child) {
        display: flex;
        gap: 4rem;

        img {
            max-width: 27rem;
            height: auto;
            aspect-ratio: 16 / 9;
            object-fit: cover;
        }
    }
}

.tabs {
    display: flex;
    gap: 1.2rem;
    margin-top: 2rem;
    margin-bottom: 4rem;
}

.tab {
    font-family: var(--text-body);
    font-size: 1.6rem;
    color: black;
    border: 1px solid currentColor;
    border-radius: 4rem;

    &.active {
        color: white;
        background: black;
    }

    a {
        display: block;
        padding: 1.2rem 2rem;
        color: currentColor;
        text-decoration: none;
    }
}

.posts-all {
    display: grid;
    gap: 4rem;
    grid-template-columns: repeat(4, 1fr);
}

.card {
    font-family: var(--text-body);
    font-size: 1.6rem;
    line-height: 1.5;

    .data {
    }

    .title {
        margin: 1.2rem auto;
        font-family: var(--text-body);
        font-size: 2.4rem;
        line-height: 1.2;
        letter-spacing: -.048rem;
    }

    img {
        max-width: 100%;
        aspect-ratio: 16 / 9;
        object-fit: cover;
    }
}
