/* LOGIN */

.login {
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-form {
    padding: clamp(3rem, 2.2272vw + 2.1871rem, 6rem) clamp(2rem, 2.9696vw + .9161rem, 6rem);
    width: 90vw;
    max-width: 52rem;
    text-align: center;
    color: var(--color-white);
    background: var(--color-box);
    border-radius: .8rem;

    [type="submit"] {
        display: block;
        margin: 3.2rem auto 2rem;
        padding: 1.4rem 2rem 1.2rem;
        width: 100%;
        font-weight: 600;
        font-size: 1.2rem;
        color: var(--color-text);
        background: var(--color-primary-darker);
        border: none;
        border-radius: .4rem;
    }

    form {
        margin-top: 4rem;
        margin-bottom: 3.2rem;

        & > div {
            margin: 2rem auto;
        }

        label {
            display: block;
            margin-bottom: .8rem;
            margin-left: 2.4rem;
            text-align: left;
        }

        input {
            padding: 1.4rem 2.4rem 1.2rem;
            width: 100%;
            background: var(--color-background);
            border: none;
            border-radius: .4rem;
        }
    }

    h1 {
        margin-bottom: 1rem;
        font-family: var(--ff-logo);
        font-size: 4.8rem;
        color: var(--color-text);
    }

    a {
        color: var(--color-white);
    }

    p {
        color: var(--color-text);
        font-weight: 300;

        a {
            color: var(--color-primary);
            font-weight: 400;
            text-wrap: nowrap;
        }
    }
}
