.errors {
    padding: 1rem;
    color: #58151c;
    background-color: #f8d7da;
    border: 1px solid #f1aeb5;
    border-radius: 2px;
}

.success {

    padding: 1rem;
    color: #0a3622;
    background-color: #d1e7dd;
    border: 1px solid #a3cfbb;
    border-radius: 2px;
}
