@use "../base/settings" as settings;

label {
    display: block;
    margin-bottom: 1.2rem;
    font-family: var(--font-body);
    font-size: 1.2rem;
    color: settings.$CommonFeldspar;
}

input {
    padding: 1.2rem 2rem;
    width: 100%;
    max-width: 50rem;
    font-family: var(--font-body);
    font-size: 1.6rem;
    color: var(--color-black);
    border: 1px solid #D9D9D9;
    border-radius: 2px;
}

::placeholder {
    color: var(--color-text);
}
