* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    min-height: 100vh;
    font-family: var(--font-body);
    font-size: 1.6rem;
    line-height: 1.4;
    background: var(--color-background);
}
